<div class="well">
  <%= simple_form_for(article, :html => {:multipart => true, :class => 'form-vertical'}) do |f| %>
    <%= f.button :submit, "Publish", class: "btn btn-info span5 pull-right" %>
    <%= f.input_field :title, :placeholder => "Title / Description", class: "span7 pull-left" %>
    <%= f.input :body, label: false, input_html: {"ace-editor" => "", "ace-mode" => "markdown", "ace-theme" => "github", class: "span12", style: "height: 350px;"} %>
  </br>
  <% end %>
</div>
