<% if current_user %>
<div class="row-fluid">

  <div class="span6">
    <%= render 'form', {article: article_for(current_user)} %>
  </div>

  <div class="span6">
    <%# render "drafts" %>
    <%= render @articles %>
  </div>

</div>
<% end %>
