<div class="row-fluid">

  <div class="span6">
    <%= render 'form', {article: new_article_for(current_user)} %>
  </div>

  <div class="span6">
    <ul class="unstyled">
      <li>revision1, timestamp, <a href="#">revert to?</a> </li>
      <li>revision2, timestamp, <a href="#">revert to?</a> </li>
      <li>revision3, timestamp, <a href="#">revert to?</a> </li>
      <li>revision4, timestamp, <a href="#">revert to?</a> </li>
    </ul>
      <%= render @articles %>
  </div>

</div>
