<div class="article">
  <h1><%= @article.title.titleize %></h1>
  <%= simple_format @article.body %>
</div>
  <% if logged_in? %>
    <%= link_to "edit", edit_article_path(@article) , class: 'label label-warning' %>
    <%= link_to "delete", article_path(@article), :method => :delete, :confirm => "Really delete the article?", class: 'label label-important' %>
  <% end %>
