<p>
  <b>Username:</b>
  <%= @author.username %>
</p>

<p>
  <b>Email:</b>
  <%= @author.email %>
</p>

<p>
  <b>Access Token: </b> <%= @author.active_token %>
  <%=button_to "Refresh Access Token", refresh_path, class: "btn btn-mini btn-warning" %>
</p>
