<section class="semantic-content" id="landing_modal" tabindex="-1"
        role="dialog" aria-labelledby="modal-label" aria-hidden="true">

  <div class="modal-inner">
    <header id="modal-label"><h1>This is the Header</h1></header>
    <div class="modal-content">This is the main content</div>
    <footer>This is the Footer </footer>
  </div>
  <a href="#!" class="modal-close" title="Close this modal" 
    data-dismiss="modal">×</a>
</section>
